body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}
.h1{
    text-align: center;
    font-size: 3rem;
}
.div1{
    text-wrap: wrap;
    text-align: center;
}
header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hero.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    height: 15cm;
    background: url(img/independence-square-2419577_1280.jpg);
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
}

nav ul {
    list-style: none;
    display: flex;
    padding: 10px;
}
.p1{
    font-size: larger;
}

nav ul li {
    margin-left: 20px;
    padding: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    /* font-size: larger; */
}   
.logo {
    font-size: 1.5em;
    font-weight: bold;
}

/* .hero {
    padding-top: 100px;
} */

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}


.section {
    padding: 50px 20px;
    text-align: center;
}


.section h2 {
    margin-bottom: 30px;
}

.destinations-grid,
.experiences-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1600px;
    margin: 0 auto;
    /* color: rgb(24, 158, 24); */

    /* height: 100px; */
}

.destination,
.experience {
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 5px;
}

.destination img,
.experience img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}
.mm{
    font-size: 3rem;
}

footer {
    background-color: #a6ebb6;
    color: #000000;
    text-align: center;
    padding: 20px;
}
#d1{
    background: red;
}
#d3{
    background: green;
}
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0;
    }
}

.plan-content {
    max-width: 800px;
    margin: 0 auto;
}








